.progress-some {
  background: var(--standout-color);
  height: 20px;
  width: 200px;
}
.progress-new {
  background: #1c1c1c;
  height: 20px;
}

.language {
  font-family: "Ubuntu";
  color: #1c1c1c;
  font-size: 1.5rem;
  text-transform: capitalize;
}
